<div>
  <h4>Best Answer:</h4>
  <p><%= answer.description %></p>
  <h6><%= answer.user.username %></h6>
  <% if question.user_id == session[:user_id] %>
    <form class="best-answer-selector deselect" action="/answers/<%= answer.id %>" method="post">
      <input type="submit" name="submit" value="Deselect as Best Answer">
    </form>
  <% end %>
</div>

<div class="comment-div">

</div>
