<div class="header-home">
  <h2>Questions:</h2>
</div>

<% @questions.each do |question| %>
  <div class="questions-home">
    <a href="/questions/<%= question.id %>"><h3><%= question.title %></h3></a>
    <a><h5>by: <%= question.user.username %></h5></a>
    <hr>
  </div>
<% end %>
