<h3>Ask a Question</h3>
<form class='' action="/questions" method="post">
  <input type="text" name="question[title]" placeholder="Title">
  <div class="">
    <label for="description">Describe your question:</label>
    <textarea id="description" name="question[description]" rows="8" cols="80"></textarea>
  </div>
  <input type="submit"  value="Submit">
</form>
