<% unless comments.length == 0 %>
<% comments.each do |comment| %>
  <p id="comment-body"> <%= comment.comment_body %> </p>
  <p id ='comment-author'> <%= User.find(comment.user_id).full_name %> </p>
<% end %>
<% end %>
