<form class="" action="/questions/<%= @question.id %>" method="post">
  <textarea name="comment_body" rows="8" cols="50" placeholder="Enter your comment here"></textarea>
  <input type="submit" name="" value="Submit">
</form>
