body {
  counter-reset:section;
  background-color: #f2f2f2;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  color: #29434e;
}
.all-answers{
  margin: 20px;
  padding: 10px;
}
.comment-container{
  border-bottom: 3px double #29434e;
  margin: 20px;
  padding: 10px;
}
.comment-div{
  border: 1px solid #29434e;
  margin: 3px;
  padding: 3px;
}
.comment-form{
margin-left: 40px;
}
.container{
  max-width: 700px;
  margin: 0 auto;
}
.answers-show h6{
  color: #ff764d;
  margin-left: 15px;
}
.question h6{
  color: #ff764d;
  margin-left: 15px;
}
h6#comment-author{
  color: #ff764d;
  margin-left: 15px;
}
.answer-logic h3{
  text-align: center;
  padding: 30px;
  color: red;
  border: 1px solid red;
}
.answer-logic-form{
  text-align: center;
}
.form{
  margin: 150px auto;
  padding: 25px;
  box-sizing: border-box;
  width: 330px;
  display: grid;
  grid-gap: 8px;
}
.form input{
  height: 1.5em;
  border-radius: 5px;
}
.form input[type=submit]{
  color: #ffffff;
  height: 2em;
  font-size: 1.2em;
  background: #ff5722;
}
a{
  text-decoration: none;
}
.header a{
  color: #ffffff;

}
a span{
  color: #ff5722;
}
.header{
  margin: 0 auto;
  background: #29434e;
  line-height: 60px;
  border-bottom: #ff5722 solid 10px;
}
h1, h2#welcome, h2#ask, h3, h5{
  padding: 0;
  margin: 0;
}
.homepage{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
nav{
  text-align: right;
}

.banner-location{
  min-height: 300px;
  background: url('../img/donejs-banner.jpg') no-repeat;
  color: #ffffff;
}

.user-login-logout{
  background: none;
  border: none;
  font-size: 1em;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

h2#welcome{
  padding-top: 150px;
  font-size: 2.5em;
}

h2#ask{
  padding-top: 50px;
  text-align: center;

}
h2#ask a{
  color: #ff5722;
  font-style: italic;
  text-decoration: underline;
}

.error_messages{
  color: red;
}

.buffer{
  height: 50px;
}

a{
  color: #546e7a;
}
h5, .questions-show h2{
  color: #ff5722;
}

.questions-show{
  display: grid;
  grid-template-columns: 30px auto;
}

.voting-box{
  padding-top: 20px;
  height: 18px;
  display: grid;
  text-align: center;
}
