body {
  counter-reset:section;
  background-color: #F6F6EF;
  font-family: Verdana;
  max-width: 700px;
  margin: 0 auto;
}

header p a {
  color: black;
  text-decoration: none;
}

header p a:nth-child(n + 2):before {
  content: " | ";
}

article a.vote-button {
  color: #8C8C8C;
  text-decoration: none;
  display: inline;
  vertical-align: sub;
}

article h2 a {
  text-decoration: none;
  color: black;
}

article p a.delete {
  text-decoration: none;
  color: #8C8C8C;
  text-decoration: none;
}

.inline {
  display: inline;
}

.upvote-button {
  background-color: transparent;
  border: none;
  padding-top: 5px;
  color: #8C8C8C;
  vertical-align: sub;
  padding: 1px 0px 0px 0px;
}

.error_messages {
  color: red;
}

h1.logo {
  color: silver;
}

h1.logo span{
  color: orange;
}

.questions-home h4, .questions-home h6 {
  margin: 5px;
  color: gray;
}

.questions-home h6 {
  padding-left: 25px;
  color: orange;
}

.questions-home a {
  text-decoration: none;
}
