<form class="form new-user-form" action="/users" method="post">
  <h2>New User Sign Up</h2>
  <input type="text" name="full_name" autofocus="autofocus" placeholder="Full Name">

  <input type="text" name="username" placeholder="Username">

  <input type="text" name="email" placeholder="Email">

  <input type="password" name="password" placeholder="Password">

  <input type="submit" value="Create Account">
</form>
