<div class="answers-show">
  <p><%= @answer.description %></p>
  <h6><%= @answer.user.username %></h6>
  <% if @question.user_id == session[:user_id] %>
    <% if !@best_answer %>
    <form class="" action="/answers/<%= answer.id %>" method="post">
      <input type="submit" name="submit" value="Select as Best Answer">
    </form>
    <% end %>
  <% end %>
</div>
