<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <a href="/" class="logo-link"> <h1 class='logo'><span>Ham</span>OverStack</h1></a>

  <nav>
    <% if session[:user_id].nil? %>
      <a class="user-login-logout" href="/sessions/new">Login</a>
      <a class="user-login-logout" href="/users/new">Sign up</a>
    <% else %>
      <form id="logout-button" action="/sessions/<%= session[:user_id] %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit" class="user-login-logout" value="logout"><span>Logout</span></button>
      </form>
    <% end %>
  </nav>


  <% unless session[:user_id].nil? %>
    <div class="welcome_message">
      <h4><%= "Welcome #{User.find(session[:user_id]).username}!" %></h4>
    </div>
    <div class="new-question-button">
      <a href="/questions/new">Ask a question</a>
    </div>
  <% end %>

  <div class="error_messages">
    <% unless @error_messages.nil? %>
      <% @error_messages.each do |error|%>
        <ul>
          <li><%= error %></li>
        </ul>
      <% end %>
    <% end %>
  </div>

  <%= yield %>
</body>
</html>
